* {
    font-family: "Philosopher", sans-serif;

}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(#e4ecf4, #b3cae2);
}

.titleSimon {
    height: 100px;
    color: #587792;
    display: flex;
    align-items: center;
}

.titleRules {
    color: #a0b3c9;
    padding: 10px;
}

.gameRules {
    text-align: center;
    width: 500px;
    color: #fff;
    background-color: #a0b3c9;
    padding: 20px;
    margin: 0 0 25px;
    border-radius: 20px;
}

/* crear startButton */
.board {
    height: 520px;
}

.buttonContainerColors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
    width: 400px;
    top: 60px;
    position: relative;
}

.diamond {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-style: outset;
}

/* aquí crear filtro de brillo */

.yellow {
    background-color: #F6D98F;
}

.blue {
    background-color: #5392A0;
}

.red {
    background-color: #e45545;
}

.green {
    background-color: #AFC073;
}


.yellow.active {
    background-color: #f8f0db;
}

.blue.active {
    background-color: #90c0ca;
}

.red.active {
    background-color: #ef968c;
}

.green.active {
    background-color: #e7f4b8;
}

.infoDisplayer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textLevel {
    font-size: 20px;
    color: #587792;
}

.startButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #587792;
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
}