* {
    font-family: "Philosopher", sans-serif;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* crear startButton */
.diamond {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.buttonContainerColors {
display: flex;
justify-content: center;
transform: rotate(45deg);
}

/* aquí crear filtro de brillo */

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}