* {
    font-family: "Philosopher", sans-serif;

}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(#e4ecf4, #b3cae2);
}

header {
    height: 10%;
}

.titleSimon {
    height: 100%;
    color: #587792;
    display: flex;
    align-items: center;
}

.titleRules {
    color: #a0b3c9;
    padding: 10px;
}

.gameRules {
    text-align: center;
    width: 500px;
    color: #fff;
    background-color: #a0b3c9;
    padding: 20px;
    margin: 0 0 25px;
    border-radius: 20px;
}

.buttonContainerColors {
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    margin: 8%;
    width: 20vw;
    height: 20vw;
    min-width: 290px;
    min-height: 290px;
}

@media only screen and (orientation: portrait) {
    .buttonContainerColors {
        width: 50vw;
        height: 50vw;
        margin-bottom: 15%;
    }
}

.columnDiamond {
    width: 100%;
    height: 50%;
}

.diamondContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamond {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    border-style: outset;
}

.yellow {
    background-color: #F6D98F;
}

.blue {
    background-color: #5392A0;
}

.red {
    background-color: #e45545;
}

.green {
    background-color: #AFC073;
}


.yellow.active {
    background-color: #f8f0db;
}

.blue.active {
    background-color: #90c0ca;
}

.red.active {
    background-color: #ef968c;
}

.green.active {
    background-color: #e7f4b8;
}

.infoDisplayer {
    height: 15%;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#textLevel {
    font-size: 20px;
    color: #587792;
}

#startButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #587792;
    font-size: 20px;
}

.invisible {
    display: none;
}

.cursorPointer {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
}